/* 
selector.js
Quickly and easily create beautiful custom <select> elements.
Noah Portes Chaikin

Below, please find sample CSS.

Use these selectors:
(by default, prefix is "selector")
	.prefix => the selector container
	.prefix-open => the selector container, when open
	.prefix .prefix-title => the selector title container
	.prefix .prefix-title a => the selector title
	.prefix .prefix-list => the list wrapper
	.prefix .prefix-list ul => the list
	.prefix .prefix-list li => the item wrapper
	.prefix .prefix-list a => the item
		
*/

.selector {
	float: left;
}
.selector,
.selector ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.selector {
	width: 150px;
}
.selector .selector-title a {
	display: block;
	padding: 6px;
	background: #ddd;
}
.selector-open .selector-title a {
	background: #999;
}
.selector .selector-list ul {
	width: 150px;
}
.selector .selector-list a {
	display: block;
	padding: 3px 6px;
	background: #f1f1f1;
}

.selector .selector-list a:hover,
.selector .selector-list .selected a {
	background: #000;
	color: #fff;
}
