/* 
selector.js
Quickly and easily create beautiful custom <select> elements.
Noah Portes Chaikin 
*/

/* Reset elements */
.selector,
.selector ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
}

/* The container element */
.selector {
	float: left;
	width: 250px;
	margin-right: 20px;
	font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
	outline: none;
}
	/* ..focused */
	.selector-focus {
		box-shadow: 0 0 8px rgba(0, 116, 190, 0.3); 
    -moz-box-shadow: 0 0 8px rgba(0, 116, 190, 0.3);  
    -webkit-box-shadow: 0 0 8px rgba(0, 116, 190, 0.3); 
	}
	
/* all title and options */
.selector a {
	text-decoration: none;
	color: #333;
}

/* The title */
.selector .selector-title a {
	display: block;
	padding: 6px;
	background: #ddd;
	border-radius: 2px;
	border: 1px solid #999;
	background-image: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
	background-image: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
	background-image: -o-linear-gradient(top, #fff 0%, #ddd 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	background-image: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
	background-image: linear-gradient(to bottom, #fff 0%, #ddd 100%);
}
	/* .. opened */
	.selector-open .selector-title a {
		background: #ddd;
		background-image: -ms-linear-gradient(top, #ddd 0%, #fff 100%);
		background-image: -moz-linear-gradient(top, #ddd 0%, #fff 100%);
		background-image: -o-linear-gradient(top, #ddd 0%, #fff 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(1, #fff));
		background-image: -webkit-linear-gradient(top, #ddd 0%, #fff 100%);
		background-image: linear-gradient(to bottom, #ddd 0%, #fff 100%);
	}
	
	/* .. caret (optional -- must be turned on in options! see readme.) */
	.selector i.caret {
		
	}
		/* .. when opened */
		.selector-open i.caret {

		}

/* The options container */
.selector .selector-list ul {
	margin-top: -3px;
	border: 1px solid #999;
	border-bottom: 0;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

/* The options */
.selector .selector-list {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);  
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
}
.selector .selector-list a {
	display: block;
	padding: 6px;
	border-bottom: 1px solid #999;
}
	/* .. selected */
	.selector .selector-list .selected a /* selected */ {
		background: #ddd;
	}
	
	/* ..hovering */
	.selector .selector-list a:hover {
		background: #f1f1f1;
	}
